/* Root Variables: consistent theming and easy updates */
:root {
    --primary-text-color: white;
    --sidebar-bg-color: #333;
    --nav-bg-color: rgb(204, 201, 201);
    --dropdown-bg-color: #f9f9f9;
    --hover-bg-color: #333;
    --default-text-color: rgb(51, 51, 51); 
}

body, html {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    font-family: 'helvetica', sans-serif; /* Set default font */
    height: 100%; /* Full height layout */
    box-sizing: border-box; /* Include padding and border in element's width and height */
}

.sidebar {
    width: 200px; /* Fixed width for sidebar */
    background-color: var(--sidebar-bg-color); /* Background color from variable */
    color: var(--primary-text-color); /* Text color from variable */
    padding: 20px; /* Padding inside the sidebar */
    position: fixed; /* Fixed position to stay in place during scrolling */
    top: 0; /* Align to the top */
    bottom: 0; /* Stretch to the bottom */
    left: 0; /* Align to the left */
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack items vertically */
    justify-content: top; /* Align content to the top */
    z-index: 1041; /* Layering order */
}
.sidebar a, .dropdown-content a:hover {
    color: var(--primary-text-color); /* Text color for links */
    text-decoration: none; /* No underline for links */
    background-color: var(--sidebar-bg-color);
}

.sidebar a:hover {
    color: var(--primary-text-color); /* Set text color using CSS variable */
    text-decoration: underline; /* Add text underline on hover */
    background-color: var(--sidebar-bg-color); /* Set background color using CSS variable */
}

.sidebar-image {
    width: 100%; /* Full width of the sidebar */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px; /* Rounded corners */
    margin-bottom: 20px; /* Space below the image */
    background-color: var(--primary-text-color); /* Background color */
}

.top-nav {
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center items vertically */
    z-index: 1040; /* Layering order */
    background-color: var(--nav-bg-color); /* Background color */
    padding: 20px; /* Padding inside the nav bar */
    height: 80px; /* Fixed height */
    box-sizing: border-box; /* Include padding and border in width and height */
    width: calc(100% - 200px); /* Full width */
    position: fixed; /* Fixed position */
    top: 0; /* Align to the top */
    left: 200px; /* Align to the left */
}

.top-nav ul {
    list-style: none; /* No bullet points */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    width: 100%; /* Full width */
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}

.top-nav a, .dropbtn {
    font-size: 20px; /* Font size for links */
    color: var(--default-text-color); /* Text color */
    text-decoration: none; /* No underline for links */
    padding: 14px 16px; /* Padding around links */
    display: block; /* Block level for better padding control */
}

.dropdown-content {
    display: none; /* Hidden by default */
    position: absolute; /* Positioning relative to the parent element */
    background-color: var(--dropdown-bg-color); /* Background color */
    min-width: 160px; /* Minimum width */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Box shadow for depth */
    z-index: 1050; /* Layering order */
}

.dropdown-content a {
    color: var(--default-text-color); /* Text color */
    padding: 12px 16px; /* Padding around links */
    text-decoration: none; /* No underline for links */
    display: block; /* Block level for better padding control */
}

.dropdown:hover .dropdown-content {
    display: block; /* Make the dropdown visible */
}

.main-content {
    margin-top: 80px; /* Offset for top nav height */
    margin-left: 250px; /* Offset for sidebar width */
    padding: 20px; /* Padding inside content area */
    width: calc(100% - 300px); /* Width minus sidebar and some extra space */
    height: calc(100vh - 100px); /* Full viewport height minus offsets */
    position: relative; /* Positioning context */
}

table {
    width: 100%; /* Full width */
    border-collapse: collapse; /* Collapse borders for a clean look */
}

table button:not(.btn) {
    margin-right: 10px; /* Space between buttons */
}

table th, table td {
    text-align: center; /* Center text */
    padding: 8px; /* Padding inside cells */
}
