{% extends "base.html" %}

{% block content %}
    <main>
        <div>
            <h1>Create a new task</h1>
            <form method='post'>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Create</button>
                <a href="{% url 'show_my_tasks' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </main>
{% endblock content %}
