{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tracker</title> <!-- Title of the web page -->
        <!-- Bootstrap CSS for styling -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
              crossorigin="anonymous">
        <!-- Link to custom stylesheet -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% block extra_css %}
            <!-- Extra CSS for specific pages can be inserted here -->
        {% endblock extra_css %}
    </head>
    <body>
        <header>
            <!-- Top-level navigation bar -->
            <nav class="top-nav">
                <ul>
                    {% if user.is_authenticated %}
                        <!-- Projects Dropdown for authenticated users -->
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropbtn">Projects</a>
                            <div class="dropdown-content">
                                <a href="{% url 'create_project' %}">Create</a>
                                <a href="{% url 'list_projects' %}">Edit/Delete</a>
                            </div>
                        </li>
                        <!-- Tasks Dropdown for authenticated users -->
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropbtn">Tasks</a>
                            <div class="dropdown-content">
                                <a href="{% url 'create_task' %}">Create</a>
                                <a href="{% url 'show_my_tasks' %}">Edit/Delete</a>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <!-- Sidebar with navigation links -->
        <aside class="sidebar">
            <!-- Sidebar logo -->
            <img src="{% static 'images/alogo-2.svg' %}"
                 alt="logo-placeholder"
                 class="sidebar-image">
            <h1>TrAcKeR</h1>
            <ul class="nav-menu">
                <!-- Sidebar menu items, shown based on user authentication status -->
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'list_projects' %}">My Projects</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'show_my_tasks' %}">My Tasks</a>
                    </li>
                    <li class="nav-item">
                        <a href='{% url 'calendar_view' %}'>Calendar</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'signup' %}">Signup</a>
                    </li>
                {% endif %}
            </ul>
        </aside>
        <main class="main-content">
            {% block content %}
                <!-- Main content specific to each page goes here -->
            {% endblock content %}
        </main>
        {% block javascript %}
            <!-- Additional Javascript files can be included here -->
        {% endblock javascript %}
        <!-- Bootstrap JavaScript bundle -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
                crossorigin="anonymous"></script>
    </body>
</html>
