{% extends 'base.html' %}

{% block content %}
    <h1>Warning</h1>
    <p>
        Are you sure you want to delete project: "{{ project.name }}" ?
        <br>
        <br>
        This will also delete all associated tasks:
    </p>
    <ul>
        {% for task in tasks %}<li>{{ task.name }}</li>{% endfor %}
    </ul>
    <form method="post">
        {% csrf_token %}
        <input type="submit"
               name='delete'
               value="Delete Project"
               class="btn btn-danger">
        <input type='submit' name='cancel' value='Cancel' class='btn btn-secondary'>
    </form>
{% endblock %}
