{% extends "base.html" %}

{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            <br>
            <p>
                <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                   href='{% url 'create_task' %}'>Create a new task</a>
            </p>
            {% if tasks %}
                <table>
                    <thead>
                        <tr>
                            <th>Task Name</th>
                            <th>Project Name</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                            <tr>
                                <td>
                                    <a href='{% url 'task_detail' task.id %}'
                                       class='btn btn-outline-primary btn-sm'>{{ task.name }}</a>
                                </td>
                                <td>{{ task.project.name }}</td>
                                <td>{{ task.start_date|date:"M j, Y" }}</td>
                                <td>{{ task.due_date|date:"M j, Y" }}</td>
                                <td>{{ task.is_completed|yesno:"yes,no" }}</td>
                                <td>
                                    <a href="{% url 'edit_task' task.id %}" class="btn btn-secondary btn-sm">Edit</a>
                                    <a href="{% url 'delete_task' task.id %}" class="btn btn-danger btn-sm">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You have no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
