{% extends 'base.html' %}

{% block content %}
    <div class="task-details">
        <h1>{{ project.name }}</h1>
        <br>
        <h2>{{ task.name }}</h2>
        <p>
            <strong>Start Date:</strong> {{ task.start_date }}
        </p>
        <p>
            <strong>Due Date:</strong> {{ task.due_date }}
        </p>
        <p>
            Is Completed:
            {% if task.is_completed %}
                Yes
            {% else %}
                No
            {% endif %}
        </p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">
                Complete:
                {% if task.is_completed %}
                    No
                {% else %}
                    Yes
                {% endif %}
            </button>
            <a href="{% url 'show_my_tasks' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
{% endblock %}
