{% extends 'base.html' %}

{% block content %}
    <h1>Warning</h1>
    <p>Are you sure you want to delete task: "{{ task.name }}" ?</p>
    <form method="post">
        {% csrf_token %}
        <input type="submit" name='delete'value="Delete Task" class="btn btn-danger">
        <input type='submit' name='cancel' value='Cancel' class='btn btn-secondary'>
    </form>
{% endblock %}
