{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1>Edit Project</h1>
            <form method='post'>
                {% csrf_token %}
                {{ form.as_p }}
                <button type='submit' class="btn btn-primary">Update</button>
                <a href="{% url 'list_projects' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </main>
{% endblock content %}
