{% extends 'base.html' %}

{% block extra_css %}
    <!-- Include FullCalendar CSS -->
    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/6.1.9/main.min.css'
          rel='stylesheet' />
    <style>
        {% comment %} Basic styling for the modal {% endcomment %}
        #taskDetailModal {
            display: none;
            position: absolute;
            z-index: 1000;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 80%;
            height: auto;
            overflow: auto;
            background-color: rgba(0,0,0,0.4);
        }
        #taskDetailContent {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }
        #closeModal {
            display: block; 
            margin-left: auto;
            margin-top: 20px;
        }
    </style>
{% endblock extra_css %}
{% block content %}
    <!-- Div to hold the calendar -->
    <div id='calendar'>
        <!-- calendar-specific content will be loaded here -->
    </div>
    <!-- Popup Modal for displaying task details -->
    <div id="taskDetailModal" style='display:none;'>
        <!-- Placeholder for Popup Modal Content -->
        <div id="taskDetailContent"></div>
    </div>
{% endblock content %}
{% block javascript %}
    <!-- Include FullCalendar JavaScript -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/6.1.9/index.global.min.js'></script>
    <script>
        // Set up the calendar when the DOM is fully loaded
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                events: '{% url 'event_data' %}',
    
                // eventClick handler for when a calendar event is clicked
                eventClick: function(info) {
                    // Prevent default action (redirect)
                    info.jsEvent.preventDefault();
    
                    // Open the modal with task details
                    fetchTaskDetails(info.event.id);
                }
            });
            calendar.render();
    
            // Set up the event listener for the close button of the modal
            document.getElementById('closeModal').addEventListener('click', function() {
                document.getElementById('taskDetailModal').style.display = 'none';
            });
        });
    
        // Function to fetch and display task details in the modal
        function fetchTaskDetails(taskId) {
            // AJAX request to get task details
            fetch('/tasks/modal/' + taskId + '/', {
                headers: {
                    'X-Requested-With': 'XMLHttpRequest' // identifies the request as AJAX
                }
            })
            .then(response => response.text())
            .then(html => {
                // Populate and show the modal
                document.getElementById('taskDetailContent').innerHTML = html;
                document.getElementById('taskDetailModal').style.display = 'block';
    
                // Add event listener for the task update form
                // This should be done only once to prevent multiple bindings
                var form = document.querySelector('#taskDetailContent .task-update-form');
                if (form.getAttribute('listener') !== 'true') {
                    form.setAttribute('listener', 'true');
                    form.addEventListener('submit', function(event) {
                        event.preventDefault();
                        var formData = new FormData(this);
                        fetch(this.action, {
                            method: 'POST',
                            body: formData,
                            headers: {
                                'X-Requested-With': 'XMLHttpRequest',
                                'X-CSRFToken': formData.get('csrfmiddlewaretoken')
                            }
                        })
                        .then(response => response.json())
                        .then(data => {
                            if (data.status === 'success') {
                                window.location.reload();                                // Refresh the calendar or part of the page to reflect changes
                            } else {
                                alert(data.message); // Notify the user of the error
                            }
                        })
                        .catch(error => console.error('Error:', error));
                    });
                }
            })
            .catch(error => {
                console.error('Error fetching task details:', error);
            });
        }
    </script>
    
{% endblock javascript %}
