
<div class="task-details">
    <h2>{{ task.name }}</h2>
    <p><strong>Start Date:</strong> {{ task.start_date }}</p>
    <p><strong>Due Date:</strong> {{ task.due_date }}</p>

    <form method="post" action="{% url 'task_detail_modal' task.id %}" class="task-update-form">
        {% csrf_token %}
        <p>
            <strong>Is Completed:</strong>
            <select name="is_completed">
                <option value="True" {% if task.is_completed %} selected {% endif %}>Yes</option>
                <option value="False" {% if not task.is_completed %} selected {% endif %}>No</option>
            </select>
        </p>
        <button type="submit">Update</button>
    </form>
</div>
