{% extends "base.html" %}

{% block content %}
    <main>
        <div>
            <h1>My Projects</h1>
            <br>
            <p>
                <a href='{% url 'create_project' %}'
                   class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Create a new project</a>
            </p>
            {% if projects %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of tasks</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in projects %}
                            <tr>
                                <td>
                                    <a href='{% url 'show_project' project.id %}'
                                       class='btn btn-outline-primary btn-sm'>{{ project.name }}</a>
                                </td>
                                <td>{{ project.tasks.all|length }}</td>
                                <td>
                                    <a href="{% url 'edit_project' project.id %}" class="btn btn-secondary">Edit</a>
                                    <a href="{% url 'delete_project' project.id %}" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You are not assigned to any projects</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
