{% extends "base.html" %}

{% block content %}
    <main>
        <div>
            <h1>{{ project.name }}</h1>
            <p>
                <strong>Description:</strong> {{ project.description }}
            </p>
            <br>
            <h2>Tasks:</h2>
            {% if project.tasks.all|length > 0 %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in project.tasks.all %}
                            <tr>
                                <td>{{ task.name }}</td>
                                <td>{{ task.assignee.username }}</td>
                                <td>{{ task.start_date|date:"M j, Y" }}</td>
                                <td>{{ task.due_date|date:"M j, Y" }}</td>
                                <td>{{ task.is_completed|yesno:"yes,no" }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>This project has no tasks</p>
            {% endif %}
            <br>
            <br>
            <a href="{% url 'list_projects' %}" class="btn btn-secondary">Return</a>
        </div>
    </main>
{% endblock content %}
